<LinkTo class="no-link" @route="movie" @model={{@movie._id}}>
  <article class="movie">
    <div class="details">                   {{!-- El componente se va a formar con los datos que se le pasen en la variable @movie, que va a ser un modelo iterado o algo, en el template --}}
      <h3>
        {{@movie.title}}
      </h3>
      <div class="detail director">
        <span>Director:</span> {{@movie.director}}
      </div>
      <div class="detail year">
        <span>Year:</span> {{@movie.year}}
      </div>
      <div class="detail description">
        <span>Description:</span> {{@movie.description}}
      </div>
      <div class="detail rating">
        <span>Rating:</span> {{@movie.rating}}
      </div>
    </div>
  </article>
</LinkTo>