<article class="movie">
   <div class="details">                   {{!-- El componente se va a formar con los datos que se le pasen en la variable @movie, que va a ser un modelo iterado o algo, en el template --}}
      <h3>
        <LinkTo class="no-link" @route="movie" @model={{@movie._id}}>  {{!-- Paso el id como parametro a la ruta (POR DEFECTO YA LO TOMA, PERO PARA ENTENDER)--}}
          {{@movie.title}}
        </LinkTo>
      </h3>
      <div class="detail director">
        <span>Director:</span> {{@movie.director}}
      </div>
      <div class="detail year">
        <span>Year:</span> {{@movie.year}}
      </div>
      <div class="detail description">
        <span>Description:</span> {{@movie.description}}
      </div>
      <div class="detail rating">
        <span>Rating:</span> {{@movie.rating}}
      </div>
  </div>
</article>
