<Filters @updateMoviesByFilter={{this.sortBy}}
  @valueYearFrom={{this.yearFrom}} @valueYearTo={{this.yearTo}}
  @valueRatingFrom={{this.ratingFrom}} @valueRatingTo={{this.ratingTo}}
  @updateMovies={{this.updateMovies}}
  @updateYearFrom={{this.updateYearFrom}} @updateYearTo={{this.updateYearTo}}
  @updateRatingFrom={{this.updateRatingFrom}} @updateRatingTo={{this.updateRatingTo}}
/>
<div class="movies">
  <div class="tool-bar">
    <div class="search-bar">
      <input id="search-movie" type="text" placeholder="Search Movie..." value={{this.searchTerm}} {{on "input" this.updateSearchTerm}}/>
    </div>
    <div class="add-movie">
      <NiceButton @action={{this.addMovie}} @label="Add Movie" />
    </div>
  </div>
  <ul class="results">
    {{#each this.filteredMovies as |movie|}}
      <li><Movie @movie={{movie}}/></li>
    {{/each}}
  </ul>
</div>
