{{page-title "NewMovie"}}

<div class="new-movie-form">
  <h2>Add New Movie</h2>
  <form {{on "submit" this.createMovie}}>
    <div class="form-group">
      <label for="title">Title*:</label>
      <Input id="title" type="text" value={{this.title}} {{on "input" (fn this.updateProperty "title" value="target.value")}}/>
    </div>
    <div class="form-group">
      <label for="director">Director*:</label>
      <Input id="director" type="text" value={{this.director}} {{on "input" (fn this.updateProperty "director" value="target.value")}}/>
    </div>
    <div class="form-group">
      <label for="year">Year*:</label>
      <Input id="year" type="number" value={{this.year}} {{on "input" (fn this.updateProperty "year" value="target.value")}}/>
    </div>
    <div class="form-group">
      <label for="lenght">Length*:</label>
      <Input id="lenght" type="text" value={{this.length}} {{on "input" (fn this.updateProperty "length" value="target.value")}}/>
    </div>
    <div class="form-group">
      <label for="rating">Rating:</label>
      <Input id="rating" type="text" value={{this.rating}} {{on "input" (fn this.updateProperty "rating" value="target.value")}}/>
    </div>
    <div class="form-group">
      <label for="description">Description*:</label>
      <Textarea id="description" value={{this.description}} {{on "input" (fn this.updateProperty "description" value="target.value")}}></Textarea>
    </div>

    <div class="form-group">
      <label for="genres">Genres*:</label>
      <select id="genres" multiple>
        {{#each this.genres as |genre|}}
          <option value={{genre}} {{on "click" (fn this.toggleGenre genre)}}>{{genre}}</option>
        {{/each}}
      </select>
      <div class="selected-genres">
        <h3>Selected Genres:</h3>
        {{#if this.selectedGenres.length}}
          <ul>
            {{#each this.selectedGenres as |genre|}}
              <li>{{genre}} <button type="button" {{on "click" (fn this.toggleGenre genre)}}>Remove</button></li>
            {{/each}}
          </ul>
        {{else}}
          <p>You have no selected genres</p>
        {{/if}}
      </div>
    </div>

    <div id="submit-add-movie">
      <button class="add-movie-button" type="submit">Add Movie</button>
    </div>
  </form>
</div>
